@model SelectGroupEditorViewModel
<tr>
    @Html.HiddenFor(x=>x.GroupId)
    <td style="text-align: center">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td style="padding-right: 20px">
        @Html.DisplayFor(model => model.GroupName)
    </td>
    @*<td style="padding-right:20px">
        @Html.DisplayFor(model => model.Description)
    </td>*@
</tr>